<!-- recipes/templates/recipes/home.html -->
{% extends 'base_generic.html' %}

{% block title %}Home - Recipe Sharing Site{% endblock %}

{% block content %}
  <h2>Top Recipes</h2>
  {% if top_recipes %}
    <ul>
      {% for recipe in top_recipes %}
        <li>
          <h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h3>
          <p>{{ recipe.description }}</p>
          <p>Author: {{ recipe.author.username }}</p>
          <p>Favorites Count: {{ recipe.favorites_count }}</p>
          <!-- Aggiungi altri dettagli della ricetta se necessario -->
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recipes found.</p>
  {% endif %}
{% endblock %}
