{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Home - Recipe Sharing Site{% endblock %}

{% block content %}
  <h2>Top Recipes</h2>
  {% if top_recipes %}
    <div class="top-recipes-container">
      {% for recipe in top_recipes %}
        <div class="top-recipe-box">
    <img src="https://placehold.co/600x400" alt="{{ recipe.title }}">
    <h3><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a></h3>
    <p>{{ recipe.description }}</p>
    <div class="recipe-meta">
        <span>Author: {{ recipe.author.username }}</span>
        <span>Likes: {{ recipe.like_count }}</span>
    </div>
</div>
      {% endfor %}
    </div>
  {% else %}
    <p>No recipes found.</p>
  {% endif %}
{% endblock %}