{% extends "base_generic.html" %}
{% load static %}
{% block title %}Login e Registrazione{% endblock %}

{% block content %}
<div class="container">
    <h1>Login e Registrazione</h1>

    <div class="form-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login_and_registration' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit" name="login">Login</button>
        </form>
    </div>

    <div class="form-container">
        <h2>Registrazione</h2>
        <form method="post" action="{% url 'login_and_registration' %}">
            {% csrf_token %}
            {{ registration_form.as_p }}
            <button type="submit" name="register">Register</button>
        </form>
    </div>
</div>
{% endblock %}
