<!-- recipes/templates/recipes/profile.html -->

{% extends 'base_generic.html' %}
{% block content %}
  <h1>Il Mio Profilo</h1>

  <h2>Le Mie Ricette</h2>
  {% for recipe in user.recipes.all %}
    <div class="recipe-box">
      <h3><a href="{% url 'recipe_detail' pk=recipe.pk %}" class="recipe-link">{{ recipe.title }}</a></h3>
      <p>{{ recipe.description|truncatewords:30 }}</p>
      <form action="{% url 'edit_recipe' pk=recipe.pk %}" method="get">
        <button type="submit" class="btn">Modifica Ricetta</button>
      </form>
    </div>
  {% empty %}
    <p>Non hai ancora creato nessuna ricetta.</p>
  {% endfor %}
{% endblock %}