{% extends 'base_generic.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="recipe-detail">
        <h1>{{ recipe.title }}</h1>
        <p><img src="https://placehold.co/600x400" alt="{{ recipe.title }}"></p>
        <p><strong>Descrizione:</strong> {{ recipe.description }}</p>
        <p><strong>Ingredienti:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Istruzioni:</strong> {{ recipe.instructions }}</p>
        <p><strong>Tempo di preparazione:</strong> {{ recipe.prep_time }}</p>
        <p><strong>Tempo di Cottura</strong> {{ recipe.cook_time }}</p>

        <form action="{% url 'toggle_favorite' pk=recipe.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" class="like-btn">
        {% if user in recipe.liked_by.all %}
          Rimuovi dai Preferiti
        {% else %}
          Aggiungi ai Preferiti
        {% endif %}
      </button>
    </form>

    <p>Mi piace: {{ recipe.liked_by.count }}</p>

        <form action="{% url 'home' %}" method="get">
            <button type="submit" class="btn">Torna alla Home</button>
        </form>
    </div>
</div>
{% endblock %}
