<!-- recipes/templates/recipes/recipe_detail.html -->

<!-- recipes/templates/recipes/recipe_detail.html -->

{% extends 'base_generic.html' %}

{% block title %}{{ recipe.title }}{% endblock %}


{% block content %}
  <div class="recipe-detail">
    <h1>{{ recipe.title }}</h1>
    <p><strong>Descrizione:</strong> {{ recipe.description }}</p>
    <p><strong>Ingredienti:</strong> {{ recipe.ingredients }}</p>
    <p><strong>Istruzioni:</strong> {{ recipe.instructions }}</p>
    <form action="{% url 'profile' %}" method="get">
      <button type="submit" class="btn">Torna al profilo</button>
    </form>
  </div>
{% endblock %}